/*-----titles----*/

h1, h2, h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    color:rgb(50, 20, 220);
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*------head, dropdown, buttons----*/

.dropdown {
    flex-direction: column;
    text-align: right;

}

/*-------body---------*/

.home {
    background-color: rgb(218, 233, 119);
    color:blueviolet;
    margin-right: 10px;
   font-size: 19px;
   font-weight: bold;
   align-items: right;
   text-align: center;
   text-decoration-line: 20px;
  display:block;
  padding-left: 85px;
  padding-right: 85px;
   
}
img {
    max-width:240px;
    float: left;
    border-radius: 20px;
    border: 5px solid red;
    margin-left:30px;
    margin-bottom: 30px;
    margin:auto;
    
}
.container {
    margin:85px auto;
    width: 90;
    
}


/*-----pages----*/

.about {
    background-color: lavenderblush;
    color:blueviolet;
    padding-left: 85px;
    padding-right: 85px;
    font-size: 19px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Courier, monospace ;
    font-weight: bold;
    
}

.borsch {
    background-color: darksalmon;
    color:black;
    font-weight: bold;
 margin-right: 10px;
font-size: 19px;
list-style-position: outside;
align-items: right;
text-align: center;
text-decoration-line: 20px;
display:block;
padding-left: 85px;
padding-right: 85px;
} 
.image-red-soup {

    max-width:340px;
    float: left;
    border-radius: 20px;
    border: 5px solid red;
    margin-right:40px
}
container-fluid {
    margin:85px auto;
    width: 90;
}

.split-peas-soup {
    background-color: goldenrod;
    color:black;
    margin-right: 10px;
    font-size: 19px;
    list-style-position: outside;
    align-items: right;
    text-align: center;
    text-decoration-line: 20px;
   display:block;
   padding-left: 85px;
   padding-right: 85px;
font-weight: bold;
}

.image-yellow-peas {
    max-width:340px;
    float: left;
    border-radius: 20px;
    border: 5px solid red;
    margin-right:30px
}
container-fluid {
    margin:85px auto;
    width: 90;
}

.souerkraut-soup {
    background-color: khaki;
    color:black;
    margin-right: 10px;
    font-size: 19px;
    list-style-position: outside;
    align-items: right;
    text-align: center;
    text-decoration-line: 20px;
   display:block;
   padding-left: 85px;
   padding-right: 85px;
   font-weight: bold;
}

.image-cabbage-soup {
    max-width:340px;
    float: left;
    border-radius: 20px;
    border: 5px solid red;
    margin-right:30px
}
container-fluid {
    margin:85px auto;
    width: 90;
}

 .sign-up {
    background-color: aqua;
    text-align: center;
    padding-left: 85px;
    padding-right: 85px;
    padding-bottom: 45px;

   
}
ul  {
    text-align: justify;
}
li{
    text-align: justify;
}

/*-------footer----*/

.footer {
    text-align: center;
    background-color: chartreuse; 
    color:crimson;
    padding-left: 33px;
    padding-right: 33px;
}