/* navbar*/
#home {
    text-align: left;
    background-color: blue;
    color:blanchedalmond;
}
#about {
    text-align: center;
    background-attachment: fixed;
    background-color: beige;
    color: brown;
}
#dropdownmenu {
    text-align: right;
    background-color: darkgray;
    color:azure;
}
.navbar {
    position:fixed;

}
/*body*/

#first-quote {
    text-align: left;
    margin:25px 50px 50px 25px;
}

#second-quoute {
    text-align: right;
    margin: 25px 50px 50px 25px;
   
}

   #second-image {
    background-image: url("../images/images.jpg");
    position: center;
   }

   
/*footer*/

#footer {
    text-align: center;
    background-color: blue;
    color:antiquewhite;

}